<h1> Vocabulary training</h1>

<h2><%= @random_word.name %></h2>

<% if @confirmation_message.present? %>
  <div class="confirmation-message">
    <%= @confirmation_message %>
  </div>
<% end %>

<ul>
  <% @words.each do |word| %>
    <li>
      <%= word.name %>
    </li>
  <% end %>
</ul>

<%= form_with(model: @user_answer, url: { action: "check_answer" }, method: "post") do |form| %>
  <div class="field">
    <%= form.label :answer, "Solução:" %>
    <%= form.text_field :answer %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar Resposta" %>
  </div>
<% end %>